<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>{{isEdit ? 'Edit' : 'New'}} Advertiser</h2>

            <div ng-if="loading" class="text-center">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
                <p>Loading...</p>
            </div>

            <form ng-if="!loading" name="advertiserForm" ng-submit="saveAdvertiser()" novalidate>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Advertiser Information</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"
                                    ng-class="{'has-error': advertiserForm.name.$invalid && advertiserForm.name.$touched}">
                                    <label for="name">Company Name *</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        ng-model="advertiser.name" required placeholder="e.g., Pepsi">
                                    <span class="help-block"
                                        ng-if="advertiserForm.name.$invalid && advertiserForm.name.$touched">
                                        Company name is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactName">Contact Person</label>
                                    <input type="text" class="form-control" id="contactName"
                                        ng-model="advertiser.contactName" placeholder="e.g., John Doe">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactEmail">Contact Email</label>
                                    <input type="email" class="form-control" id="contactEmail"
                                        ng-model="advertiser.contactEmail" placeholder="e.g., john@pepsi.com">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactPhone">Contact Phone</label>
                                    <input type="tel" class="form-control" id="contactPhone"
                                        ng-model="advertiser.contactPhone" placeholder="e.g., +1-555-0123">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="advertiser.active"> Active
                                    </label>
                                    <p class="help-block">Only active advertisers will have their ads displayed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Valid Time Range</h4>
                        <p class="text-muted">Define when this advertiser's ads are eligible to be played</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Days of Week *</label>
                                    <div>
                                        <button type="button" class="btn btn-sm btn-default"
                                            ng-click="selectAllWeekdays()">Select All</button>
                                        <button type="button" class="btn btn-sm btn-default"
                                            ng-click="deselectAllWeekdays()">Deselect All</button>
                                    </div>
                                    <div class="checkbox-group" style="margin-top: 10px;">
                                        <label class="checkbox-inline" ng-repeat="day in weekdayOptions">
                                            <input type="checkbox" ng-checked="isWeekdaySelected(day.id)"
                                                ng-click="toggleWeekday(day.id)">
                                            {{day.label}}
                                        </label>
                                    </div>
                                    <p class="help-block" ng-if="advertiser.validTimeRange.weekdays.length === 0"
                                        style="color: red;">
                                        Please select at least one weekday
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="startDate">Start Date *</label>
                                    <input type="date" class="form-control" id="startDate"
                                        ng-model="advertiser.validTimeRange.startDate" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="endDate">End Date *</label>
                                    <input type="date" class="form-control" id="endDate"
                                        ng-model="advertiser.validTimeRange.endDate" required>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-info">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            <strong>Preview:</strong> Ads will be eligible to play on
                            <strong>{{advertiser.validTimeRange.weekdays.length === 7 ? 'all days' :
                                advertiser.validTimeRange.weekdays.length + ' selected days'}}</strong>
                            from <strong>{{advertiser.validTimeRange.startDate | date:'mediumDate'}}</strong> to
                            <strong>{{advertiser.validTimeRange.endDate | date:'mediumDate'}}</strong>.
                            <br><small class="text-muted">Note: Display times are controlled by system settings.</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="advertiserForm.$invalid || loading">
                        <i class="glyphicon glyphicon-save"></i> {{isEdit ? 'Update' : 'Create'}} Advertiser
                    </button>
                    <button type="button" class="btn btn-default" ng-click="cancel()">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>