<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Spot Purchase</h2>
            <p class="text-muted">Purchase advertising spots for your campaigns (1 set = 40 spots per day, 1 spot = 20
                seconds)
            </p>

            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Purchase Spots</h4>
                        </div>
                        <div class="panel-body">
                            <form name="purchaseForm" ng-submit="purchaseSpots()" novalidate>
                                <div class="form-group">
                                    <label for="advertiser">Select Advertiser *</label>
                                    <select class="form-control" id="advertiser" ng-model="purchase.advertiserId"
                                        ng-change="onAdvertiserSelected()" required>
                                        <option value="">-- Select Advertiser --</option>
                                        <option ng-repeat="adv in advertisers" value="{{adv._id}}">
                                            {{adv.name}} ({{adv.totalSpotsRemaining || 0}} spots remaining)
                                        </option>
                                    </select>
                                </div>

                                <div ng-if="selectedAdvertiser" class="alert alert-info">
                                    <strong>Valid Time Range:</strong><br>
                                    Days: <strong>{{selectedAdvertiser.validTimeRange.weekdays.length === 7 ? 'All days'
                                        : selectedAdvertiser.validTimeRange.weekdays.length + ' selected
                                        days'}}</strong><br>
                                    Dates: <strong>{{formatDate(selectedAdvertiser.validTimeRange.startDate)}} -
                                        {{formatDate(selectedAdvertiser.validTimeRange.endDate)}}</strong><br>
                                    Time: <strong>{{selectedAdvertiser.validTimeRange.startTime}} -
                                        {{selectedAdvertiser.validTimeRange.endTime}}</strong>
                                </div>

                                <div class="form-group">
                                    <label for="adAsset">Select Ad Asset *</label>
                                    <select class="form-control" id="adAsset" ng-model="purchase.adAsset.filename"
                                        required>
                                        <option value="">-- Select Media Asset --</option>
                                        <option ng-repeat="asset in assets" value="{{asset}}">
                                            {{asset}}
                                        </option>
                                    </select>
                                    <p class="help-block">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                        Video and image assets are supported. Each spot still plays for 20 seconds.
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="startDate">Campaign Start Date *</label>
                                    <input type="date" class="form-control" id="startDate" ng-model="purchase.startDate"
                                        ng-change="checkAvailability()" required>
                                    <p class="help-block">First day ads will be displayed</p>
                                </div>

                                <div class="form-group">
                                    <label for="endDate">Campaign End Date *</label>
                                    <input type="date" class="form-control" id="endDate" ng-model="purchase.endDate"
                                        ng-change="checkAvailability()" required>
                                    <p class="help-block">Last day ads will be displayed</p>
                                </div>

                                <div class="form-group" ng-if="groups.length > 0">
                                    <label>Target Groups (Select where ads will display) *</label>
                                    <div class="checkbox" ng-repeat="group in groups">
                                        <label>
                                            <input type="checkbox" ng-checked="isGroupSelected(group._id)"
                                                ng-click="toggleGroup(group._id)">
                                            {{group.name}}
                                        </label>
                                    </div>
                                    <p class="help-block" ng-if="purchase.targetGroups.length === 0"
                                        style="color: red;">
                                        Please select at least one group
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Days of the Week (Select which days ads will display) *</label>
                                    <div class="checkbox-inline" style="display: block;">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="purchase.weekdays[1]" ng-change="checkAvailability()"> Monday
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="purchase.weekdays[2]" ng-change="checkAvailability()"> Tuesday
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="purchase.weekdays[3]" ng-change="checkAvailability()"> Wednesday
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="purchase.weekdays[4]" ng-change="checkAvailability()"> Thursday
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="purchase.weekdays[5]" ng-change="checkAvailability()"> Friday
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="purchase.weekdays[6]" ng-change="checkAvailability()"> Saturday
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="purchase.weekdays[7]" ng-change="checkAvailability()"> Sunday
                                        </label>
                                    </div>
                                    <p class="help-block">
                                        Ads will only display on selected days. If a day is unchecked and falls within your campaign dates, it will be excluded from the campaign.
                                    </p>
                                    <p class="help-block" ng-if="getSelectedWeekdaysCount() === 0" style="color: red;">
                                        Please select at least one day
                                    </p>
                                </div>


                                <div class="form-group">
                                    <label for="sets">Number of Sets (Spots Per Day) *</label>
                                    <input type="number" class="form-control" id="sets" ng-model="purchase.sets" min="1"
                                        ng-change="checkAvailability()" required>
                                    <p class="help-block">
                                        1 set = 40 spots <strong>per day</strong>. You are purchasing
                                        <strong>{{calculateTotalSpots()}}
                                            spots per day</strong>
                                        ({{calculateTotalSpots() * 20}} seconds of ad time per day).
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="pricePerSet">Price per Set (Optional, ETB)</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">ETB</span>
                                        <input type="number" class="form-control" id="pricePerSet"
                                            ng-model="purchase.pricePerSet" min="0" step="0.01">
                                    </div>
                                    <p class="help-block" ng-if="purchase.pricePerSet > 0">
                                        Total price: <strong>ETB {{calculateTotalPrice().toFixed(2)}}</strong>
                                    </p>
                                </div>

                                <div class="alert alert-info"
                                    ng-if="purchase.startDate && purchase.endDate && calculateDaysInRange() > 0">
                                    <strong>📅 Campaign Duration:</strong> {{calculateDaysInRange()}} day(s)
                                    <br>
                                    <strong>📊 Spots Per Day:</strong> {{calculateSpotsPerDay()}} spots
                                    <br>
                                    <strong>🎯 Total Spots Across Campaign:</strong> {{calculateSpotsPerDay() *
                                    calculateDaysInRange()}} spots
                                </div>

                                <div class="alert alert-warning" ng-if="availabilityChecking">
                                    <i class="fa fa-spinner fa-spin"></i> Checking availability...
                                </div>

                                <div class="alert alert-success" ng-if="availabilityResult && availabilityResult.valid">
                                    <i class="glyphicon glyphicon-ok-circle"></i>
                                    <strong>✓ Spots Available!</strong> All selected days have enough available spots.
                                </div>

                                <div class="alert alert-danger" ng-if="availabilityResult && !availabilityResult.valid">
                                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                                    <strong>✗ Not Enough Spots!</strong>
                                    <br>{{availabilityResult.message}}
                                    <ul ng-if="availabilityResult.unavailableDates">
                                        <li ng-repeat="dateInfo in availabilityResult.unavailableDates">
                                            {{dateInfo.date | date:'mediumDate'}}:
                                            Need {{dateInfo.needed}} spots, only {{dateInfo.available}} available
                                        </li>
                                    </ul>
                                </div>

                                <div class="well">
                                    <h4>Purchase Summary</h4>
                                    <ul>
                                        <li><strong>Sets:</strong> {{purchase.sets}}</li>
                                        <li><strong>Spots Per Day:</strong> {{calculateSpotsPerDay()}} spots</li>
                                        <li><strong>Campaign Days:</strong> {{calculateDaysInRange()}} day(s)</li>
                                        <li><strong>Total Spots:</strong> {{calculateSpotsPerDay() *
                                            calculateDaysInRange()}} spots</li>
                                        <li><strong>Total Duration:</strong> {{calculateSpotsPerDay() *
                                            calculateDaysInRange() * 20}} seconds
                                            ({{(calculateSpotsPerDay() * calculateDaysInRange() * 20 / 60).toFixed(1)}}
                                            minutes)</li>
                                        <li ng-if="purchase.pricePerSet > 0"><strong>Total Price:</strong>
                                            ETB {{calculateTotalPrice().toFixed(2)}}</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg"
                                        ng-disabled="purchaseForm.$invalid || loading || purchase.targetGroups.length === 0 || (availabilityResult && !availabilityResult.valid)">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                        Purchase {{calculateSpotsPerDay() * calculateDaysInRange()}} Spots
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Purchase History</h4>
                        </div>
                        <div class="panel-body">
                            <div ng-if="!selectedAdvertiser" class="text-muted">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                Select an advertiser to view purchase history
                            </div>

                            <div ng-if="selectedAdvertiser && purchases.length === 0" class="text-muted">
                                No purchases yet for this advertiser
                            </div>

                            <div ng-if="selectedAdvertiser && purchases.length > 0">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Asset</th>
                                            <th>Spots</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in purchases">
                                            <td><small>{{formatDate(p.purchaseDate)}}</small></td>
                                            <td><small>{{p.adAsset.filename}}</small></td>
                                            <td class="text-center">
                                                <span class="badge badge-info">{{p.totalSpots}}</span>
                                            </td>
                                            <td class="text-center">
                                                <span class="label"
                                                    ng-class="{'label-warning': p.deploymentStatus === 'pending', 'label-success': p.deploymentStatus === 'deployed', 'label-danger': p.deploymentStatus === 'error'}">
                                                    {{p.deploymentStatus}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
